<body>
<br><br><br>
  <p id="notice">
 <%=  notice %></p>
  <div class="body">
      <div class="container">
      <div class="row">
      <div class="col-xs-3">

<!-- ユーザーインフォ領域 -->
    <h2>User info</h2>
     <%= attachment_image_tag @user, :profile_image, size: '30x30',　format: 'jpeg', fallback: "no_image.jpg" %>
        <table class="table">
          <tbody><tr></tr>
                 <tr>
                  <th>name</th>
                  <th><%= @user.name %></th>
                 </tr>
                 <tr>
                  <th>introduction</th>
                  <th><%= @user.introduction %></th>
                </tr>
                <tr>
                  <th>follows</th>
                  <th><%=link_to @user.follower.count, user_follow_path %></th>
                </tr>
                <tr>
                  <th>followers</th>
                  <th><%=link_to @user.followed.count, user_followed_path %></th>
                </tr>
          </tbody>
        </table>
            <!-- フォローボタン -->
            <p>
          <% if current_user.id != @user.id %>
            <% if current_user.following?(@user) %>
            <%= link_to 'フォロー外す', unfollow_path(@user.id), method: :POST, class: "btn btn-primary "  %>
            <% else %>
            <%= link_to 'フォローする', follow_path(@user.id), method: :POST, class: "btn btn-primary "  %>
            <% end %>
          <% end %>
            </p>
            <!-- フォローボタン終わり -->
      <div class="row">
        　<% if @user.id == current_user.id %>
             <p><%= link_to "", edit_user_path(@user), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user" %></p>
            <% end %>
      </div>
<!-- ブック編集領域 -->
    <h2>New book</h2>
<!-- form_for部分 -->
<%= form_for(@book) do |f| %>
  <h4>Title</h4>
  <%= f.text_field :title, class: "col-xs-12" %>
  <h4>Opinion</h4>
  <%= f.text_area :body, class: "col-xs-12" %>

  <%= f.submit 'Create Book', class: "btn btn-primary col-xs-12" %>
<% end %>

  　</div>

<!-- BODY右部分 -->

<div class="col-xs-9">
    <h2>Users</h2>

  <table class="table">
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th colspan="5"></th>
    </tr>
  </thead>

    <tbody>
      <% @users.each do |user|%>
        <tr>
         <td>
          <%= attachment_image_tag @user, :profile_image, size: '30x30',　format: 'jpeg', fallback: "no_image.jpg" %>
         </td>
          <td><%= user.name%></td>
          <td>フォロー数:<%= user.follower.count %></td>
          <td>フォロワー数:<%= user.followed.count %></td>
          <!-- フォローボタン -->
          <td>
            <% if current_user.id != user.id %>
              <% if current_user.following?(user) %>
                <%= link_to 'フォロー外す', unfollow_path(user.id), method: :POST %>
              <% else %>
                <%= link_to 'フォローする', follow_path(user.id), method: :POST %>
              <% end %>
            <% end %>
          </td>
          <!-- フォローボタン終わり -->
          <td><%= link_to 'Show',user %></td>
        </tr>
        <% end %>
    </tbody>
　</table>
</div>
      </div>
</div>
<!-- フッター -->
  <footer>
    <div class="container">
    	<div class="row">
      	<div class="col-xs-3 col-xs-offset-9">
      		<p>CopyRight Infratop.inc</p>
      	</div>
      </div>
    </div>
 </footer>
</body>